@{
    Layout = null;
}

@model TempForCats2.Repository.GetRecentPosts
<div>
    <h2>  Resent Posts: </h2>
    <ul class="post-warp">

        @foreach (var item in Model.GetCollection())
        {
            <li> 
                <p class="date">@item.Date.ToString("D")</p>
                <p class="post"> <a href="@item.URL"> @item.text </a> </p>
            </li>
        }

    </ul>
</div>
