@model TempForCats2.Models.HomeModel
<div class="article">
    <h3> You do not need us to look for. We will find you.. </h3>
    
    <p class="normal"> <img id="norm" src="~/Content/cat4.jpg" width="100%" alt="The Cat with comp"> </p>

</div>